<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="assets/styles.css">
    <link rel="stylesheet" href="https://use.typekit.net/bye7liv.css">
  </head>
  <body>
    <div id="wrapper">
    <div class="header">
      <a href="/" class="site-title"><h1><img src="assets/images/logo.png" alt="Design and Economics logo" /></h1></a>
    </div>
    <div class="content">
      {{ content }}
    </div>
    <div class="footer">
      <ul>
        <li>
            <ul>
                <li><a href='https://designandeconomics.notion.site/1eb4251ca0394a0db303c8667a734698?v=1100029d91c04a17bb73d8ccbab1e181'>Resources on Notion.</a></li>
                <li><a href="https://forms.gle/xFxuGD71w7dxzP3i8">Resource submission form.</a></li>
                <li><a href="https://www.linkedin.com/groups/12986178/">Group on LinkedIn.</a></li>
                <li></li>
            </ul>
        </li>
        <li><p><form
            action="https://buttondown.email/api/emails/embed-subscribe/designandeconomics"
            method="post"
            target="popupwindow"
            onsubmit="window.open('https://buttondown.email/designandeconomics', 'popupwindow')"
            class="embeddable-buttondown-form"
          >
            <p><label for="bd-email">Join our mailing list:</label></p>
            <p><input type="email" name="email" id="bd-email" /></p>
            
            <p><input type="submit" value="Subscribe" /></p>
            <p>
            <p><a href="https://buttondown.email/refer/designandeconomics" target="_blank">Powered by Buttondown.</a></form></p></form>
        <li>
        <li><p>Design and Economics launched in 2021 with an unconference supported by Ravensbourne University, London.</p></li>
        <li><p>Design and Economics has been shaped by ideas, guidance and input from Mark Simpkins, Simon Gough, Paul Sternberg, Sally Brazier, Victoria Hands, Jim Coleman, Joanna Boehnert, Tanvi Yardi, Kas Moreno Madrigal, Leonardo Gentili and Zarida Zaman.</p></li>
      </ul>
    </div>
    </div>
  </body>
</html>